
<div class="okvir">
<h2 class="form-title" style="padding: 5%; " *ngIf = "!editMode">Dodaj novi nalog</h2>
<h2 class="form-title" style="padding: 5%; " *ngIf = "editMode">Uredi nalog</h2>

<form id="travelOrder-form" (ngSubmit)="onSubmit()" #travelOrderForm="ngForm">

  <div class="col-auto">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text inputLabelStyle" >Zaposlenik:</div>
      </div>
      <select name="employeeId" #employeeId="ngModel" [(ngModel)]="fromClientID" required class="custom-select inputStyle"ngModel (change)="CheckEmployee()" >
        <option [ngValue]="undefined">Odaberi zaposlenika</option>
        <option *ngFor="let item of listOfEmployees" [value]=item.id >               
            {{item.name}} {{item.surname}}
        </option>
    </select>
    </div>
  </div>

  <div class="col-auto">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text inputLabelStyle" >Početak:</div>
      </div>
      <input type="datetime-local" class="form-control inputStyle" id="inputStartDate"
       required name="startDate" #startDate="ngModel" ngModel>
    </div>
  </div>

  <div class="alert-div" *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)">
    <span *ngIf="startDate.errors.required">
                        Početak je obavezno polje.
    </span>
</div> 


  <div class="col-auto">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text inputLabelStyle" >Kraj:</div>
      </div>
      <input type="datetime-local" class="form-control inputStyle" id="inputEndDate" (change)="CheckEmployee()" 
       required name="endDate" #endDate="ngModel" ngModel>
                  
    </div>
  </div>
  <div class="alert-div" *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)">
    <span *ngIf="endDate.errors.required">
                        Kraj je obavezno polje.
    </span>
</div>
 <div class="alert-div" *ngIf="checkEmployee">
    <span >
          Zaposlenik već ima angažman u tom periodu.
    </span>
</div>

  <div class="col-auto">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text inputLabelStyle" >Razlog:</div>
      </div>
      <input type="text" class="form-control inputStyle" id="inputReasonOfTravel" required placeholder="Razlog" name="reasonOfTravel" #reasonOfTravel="ngModel" ngModel >
    </div>
  </div>
  <div class="alert-div" *ngIf="reasonOfTravel.invalid && (reasonOfTravel.dirty || reasonOfTravel.touched)">
    <span *ngIf="reasonOfTravel.errors.required">
                        Razlog je obavezno polje.
    </span>
</div>  

<div class="col-auto">
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text inputLabelStyle" > Početna lokacija: </div>
    </div>
    <input type="text" class="form-control inputStyle" id="inputstartLocation" name="startLocation"  #startLocation="ngModel" ngModel readonly>
    <input type="number" class="form-control" id="inputstartLocationId" name="startLocationId" readonly #startLocationId="ngModel" ngModel hidden>


  </div>
</div>

  <div class="col-auto">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text inputLabelStyle" >Opis:</div>
      </div>
       <input type="text" class="form-control inputStyle" id="inputDescriptionOfTravel" name="descriptionOfTravel" required placeholder="Opis" #descriptionOfTravel="ngModel" ngModel >
    </div>
  </div>

  <div class="alert-div" *ngIf="descriptionOfTravel.invalid && (descriptionOfTravel.dirty || descriptionOfTravel.touched)">
    <span *ngIf="descriptionOfTravel.errors.required">
                        Opis je obavezno polje.
    </span>
</div>

  <div class="col-auto">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text inputLabelStyle" >Akontacija:</div>
      </div>
      <input type="number" class="form-control inputStyle" id="inputAdvancePayment" required name="advancePayment" placeholder="Akontacija" #advancePayment="ngModel" ngModel>
    </div>
  </div>

  <div class="alert-div" *ngIf="advancePayment.invalid && (advancePayment.dirty || advancePayment.touched)">
    <span *ngIf="advancePayment.errors.required">
                        Akontacija je obavezno polje.
    </span>
</div>
<hr>
  <p style="color:dimgray;font-weight: bold; text-align: center; margin-top: 5%;">Ponedjeljak</p>
  <hr>
  <div class="col-auto">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text inputLabelStyle" >Lokacija:</div>
      </div>
      <select name="locationMondayId" #locationMondayId="ngModel" [(ngModel)]="fromLocationMondayID"   class="custom-select inputStyle"  ngModel>
        <option [ngValue]="undefined">Odaberi lokaciju</option>
        <option *ngFor="let item of listOfLocations" [value]=item.id >               
            {{item.name}} 
        </option>
    </select>
    </div>

  </div>

  <div class="col-auto">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text inputLabelStyle" >Vozilo:</div>
      </div>
      <select class="custom-select inputStyle" name="typeOfCarMondayId" #typeOfCarMondayId="ngModel" [(ngModel)]="fromCarMondayID"   ngModel>
        <option [ngValue]="undefined">Odaberi vozilo</option>
        <option *ngFor="let item of listOfTypeOfCars" [value]=item.id >               
            {{item.name}} 
        </option>
    </select>
    </div>
  </div>
  <hr>

  <p style="color:dimgray;font-weight: bold; margin-top: 5%;">Utorak</p>
  <hr>

    <div class="col-auto">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text inputLabelStyle" >Lokacija:</div>
        </div>
        <select name="locationTuesdayId" #locationTuesdayId="ngModel" [(ngModel)]="fromLocationTuesdayID"  class="custom-select inputStyle"  ngModel>
          <option [ngValue]="undefined">Odaberi lokaciju</option>
            
            <option *ngFor="let item of listOfLocations" [value]=item.id >               
                {{item.name}} 
            </option>
        </select>
        </div>
    </div>
  
    <div class="col-auto">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text inputLabelStyle" >Vozilo:</div>
        </div>
        <select name="typeOfCarTuesdayId" #typeOfCarTuesdayId="ngModel" [(ngModel)]="fromCarTuesdayID" class="custom-select inputStyle"  ngModel>
          <option [ngValue]="undefined">Odaberi vozilo</option>
            
            <option *ngFor="let item of listOfTypeOfCars" [value]=item.id >               
                {{item.name}} 
            </option>
        </select>
        </div>
    </div>
    <hr>

    <p style="color:dimgray;font-weight: bold; margin-top: 5%;">Srijeda</p>

    <hr>

      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text inputLabelStyle" >Lokacija:</div>
          </div>
          <select name="locationWednesdayId" #locationWednesdayId="ngModel"  [(ngModel)]="fromLocationWednesdayID"   class="custom-select inputStyle"  ngModel>
            <option [ngValue]="undefined">Odaberi lokaciju</option>
               
                <option *ngFor="let item of listOfLocations" [value]=item.id >               
                    {{item.name}} 
                </option>
            </select>
            </div>
      </div>
      
    <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text inputLabelStyle" >Vozilo:</div>
          </div>
          <select name="typeOfCarWednesdayId" #typeOfCarWednesdayId="ngModel"  [(ngModel)]="fromCarWednesdayID"  class="custom-select inputStyle"  ngModel>
            <option [ngValue]="undefined">Odaberi vozilo</option>
                
                <option *ngFor="let item of listOfTypeOfCars" [value]=item.id >               
                    {{item.name}} 
                </option>
            </select>
            </div>
      </div>
      <hr>

      <p style="color:dimgray;font-weight: bold; margin-top: 5%;">Četvrtak</p>
      <hr>
  
        <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text inputLabelStyle" >Lokacija:</div>
            </div>
            <select name="locationThursdayId" #locationThursdayId="ngModel"  [(ngModel)]="fromLocationThursdayID"  class="custom-select inputStyle"  ngModel>
              <option [ngValue]="undefined">Odaberi lokaciju</option>

              <option *ngFor="let item of listOfLocations" [value]=item.id >               
                  {{item.name}} 
              </option>
          </select>
          </div>
        </div>
      
        <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text inputLabelStyle" >Vozilo:</div>
            </div>
            <select name="typeOfCarThursdayId" #typeOfCarThursdayId="ngModel"  [(ngModel)]="fromCarThursdayID"  class="custom-select inputStyle" ngModel>
              <option [ngValue]="undefined">Odaberi vozilo</option>
                  
                    <option *ngFor="let item of listOfTypeOfCars" [value]=item.id >               
                        {{item.name}} 
                    </option>
                </select>
                </div>
        </div>
<hr>

        <p style="color:dimgray;font-weight: bold; margin-top: 5%;">Petak</p>
        <hr>

  <div class="col-auto">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text inputLabelStyle" >Lokacija:</div>
      </div>
      <select name="locationFridayId" #locationFridayId="ngModel" class="custom-select inputStyle"   [(ngModel)]="fromLocationFridayID"   ngModel>
        <option [ngValue]="undefined">Odaberi lokaciju</option>
        
        <option *ngFor="let item of listOfLocations" [value]=item.id >               
            {{item.name}} 
        </option>
    </select>
    </div>
  </div>

  <div class="col-auto">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text inputLabelStyle" >Vozilo:</div>
      </div>
       <select name="typeOfCarFridayId" #typeOfCarFridayId="ngModel"  [(ngModel)]="fromCarFridayID" class="custom-select inputStyle"  ngModel>
        <option [ngValue]="undefined">Odaberi vozilo</option>
        
        <option *ngFor="let item of listOfTypeOfCars" [value]=item.id >               
            {{item.name}} 
        </option>
    </select>
    </div>

  </div>
<hr>


  <div class="form-group row">
        <div class="col-sm-12">
        <button type="submit" id="submit" class="btn btn-outline-info" [disabled]="!travelOrderForm.valid"><i class="fas fa-save" ></i>  Sačuvaj</button>
    </div>
   </div>

</form>
</div>

