<div class="okvir">
    <h2 class="form-title" style="padding: 5%; " *ngIf = "!editMode">Dodaj novi tip vozila</h2>
    <h2 class="form-title" style="padding: 5%; " *ngIf = "editMode">Uredi tip vozila</h2>

<form id="typeOfCar-form" (ngSubmit)="onSubmit()" #typeOfCarForm="ngForm">
    <div form-group>
        <label id="label">Naziv: </label>
        <input type="text" name="name" class="form-control"  id="input"  #name="ngModel" ngModel>
    </div>


    <button type="submit" id="submit" class="btn btn-outline-info"><i class="fas fa-save"></i>  Sačuvaj</button>
</form>
</div>