<div class="okvir">
    <h2 class="form-title" style="padding: 5%; " *ngIf = "!editMode">Dodaj novi tip vozila</h2>
    <h2 class="form-title" style="padding: 5%; " *ngIf = "editMode">Uredi tip vozila</h2>

<form id="typeOfCar-form" (ngSubmit)="onSubmit()" #typeOfCarForm="ngForm">
    
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Naziv</label>
        <div class="col-sm-10">
          <input type="text" id="inputName" name="name" class="form-control" #name="ngModel" ngModel>
        </div>
      </div>

    <button type="submit" id="submit" class="btn btn-outline-info"><i class="fas fa-save"></i>  Sačuvaj</button>
</form>
</div>