<div class="okvir">
    <h2 class="form-title" style="padding: 5%; " *ngIf = "!editMode">Dodaj novu lokaciju</h2>
    <h2 class="form-title" style="padding: 5%; " *ngIf = "editMode">Uredi lokaciju</h2>

    <form id="location-form" (ngSubmit)="onSubmit()" #locationForm="ngForm">
        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">Naziv</label>
            <div class="col-sm-9">
              <input type="text" name="name" class="form-control"  id="inputName"  #name="ngModel" ngModel>
            </div>
          </div>

          <div class="form-group row">
    
            <div class="col-sm-12"> 
              <button type="submit" id="submit" class="btn btn-outline-info"><i class="fas fa-save"></i>  Sačuvaj</button>
            </div>
          </div>
    </form>
</div>



