
<br>
<div *ngIf="company.length==0">
    <button type="button" class="btn btn-outline-primary" routerLink="add-company" id="addNew"> <i class="fa fa-fw fa-plus-circle"></i> Dodaj novu</button>
</div>
<table class="table" >
<thead>
    <tr>
        <th>Naziv</th>
        <th>ID broj</th>
        <th>Adresa</th>
        <th>Grad</th>
        <th>Cijena goriva</th>     
        <th>Akcija</th>
    </tr>
</thead>
<tbody >
    <tr *ngFor="let item of company ">
        <td>{{item.name}}</td>
        <td>{{item.idnumber}}</td>  
        <td>{{item.adress}}</td>  
        <td>{{item.city}}</td>  
        <td>{{item.priceOfFuel}}</td>  
        <td> <button type="button" class="btn btn-outline-primary" routerLink="add-company/{{item.id}}"> <i class="fa fa-fw fa-edit"></i></button>      
        <!--<button type="button" class="btn btn-outline-danger" (click) = "delete(item)"  style="margin-left: 2%;"><i class="fa fa-fw fa-remove"></i></button>--></td>      
      </tr>
</tbody> 
</table>
<br>
