
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<aside>
  <nav>
    <div class="nav-header">
      <figure>
        <!--<img src="http://placehold.it/140x100" alt="" />-->
        <img src="../assets/img/logo.jpg">
      </figure>
    </div>
    <ul>
      <li><a routerLink="/app/employee"><i class="fa fa-fw fa-user"></i> Zaposlenici</a></li>                        
      <li><a routerLink="/app/location"><i class="fa fa-fw fa-map-marker"></i> Lokacije</a></li>
      <li><a routerLink="/app/car"><i class="fa fa-fw fa-car"></i> Vozilo</a></li>
      <li><a routerLink="/app/travel-order"><i class="fa fa-fw fa-list-alt"></i> Putni nalog</a></li>
      <li><a routerLink="/app/cost-of-order"><i class="fas fa-euro-sign"></i>  Troškovi</a></li>
      
      
    </ul>
  </nav>
</aside>
<header>
  <ul>
    <li (click)="onLogout()"><i class="fa fa-fw fa-sign-out-alt"></i>Odjava</li>
    <li ><i class="fa fa-fw fa-user" ></i>User User </li>
</ul>
</header>
<div class="container">
  <section>
    <router-outlet></router-outlet>
  </section>
</div>