

#costOfOrder-form{
    width:75%;
    margin:0 auto;
}

.okvir {
    width: 75%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10%;
    margin-left: 15%;
    border-radius:10px;
}

input, select{
    width:80%;
    margin-left:5%;
}

label{
   text-align: left;
   font-size: 16px;
}

#submit{
    width:35%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}