

<div class="input-group" id="searchName">
    <input type="text" class="form-control" placeholder="Pretraga po nazivu..." [(ngModel)]="name">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button" (click) = "searchByName()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

  <br>
<table class="table" > 
<thead>
    <tr>
        <th>Naziv</th>       
        <th>Akcija</th>
    </tr>
</thead>
<tbody >
    <tr *ngFor="let item of TypeOfCar ">
        <td>{{item.name}}</td>
      
        <td> <button type="button" class="btn btn-outline-primary" routerLink="add-type-of-car/{{item.id}}"> <i class="fa fa-fw fa-edit"></i> Uredi</button>      
        <button type="button" class="btn btn-outline-danger" (click) = "delete(item)" style="margin-left: 2%;"><i class="fa fa-fw fa-remove"></i> Obriši</button></td>      
      </tr>
</tbody> 
</table>

<br>
<button type="button" class="btn btn-outline-primary" routerLink="add-type-of-car" id="addNew"> <i class="fa fa-fw fa-plus-circle"></i> Dodaj novi</button>
