
<br>
<div class="name" style="display: block;" >
    <figure>
        <span class="above" ><u > {{companyName}}</u><span class="below"></span></span>
        <figcaption style="font-size: 12px; margin-top: -10%;" >(naziv preduzeća - ustanove)</figcaption>
    </figure>
    <figure>
        <span class="above" ><u >{{adress}}, {{city}} </u> <span class="below"></span></span>
        <figcaption style="font-size: 12px; margin-top: -10%;" >(adresa i mjesto)</figcaption>
    </figure>

</div>
<div class="center">
<p >REKAPITULACIJA PODATAKA</p>
</div>

<table  class="table" style="margin-top: 2%;"> 
    <thead>
        <tr>       
            <th>Broj naloga</th>
            <th>Zaposlenik</th>
            <th>Početna lokacija</th>
            <th>Lokacija </th>
            <th>Vozilo</th>
            <th>Početak</th>
            <th>Kraj</th>           
            <th>Dnevnica(KM)</th>           
            <th>Ukupno dnevnica(KM)</th>  
            <th>Cijena goriva</th>           
            <th>Broj kilometara</th>           
            <th>Ukupno za prijevoz(KM)</th>           
            <th>Ostali troškovi(KM)</th>
            <th>Uplaćena akontacija</th>  
            <th>Ukupan iznos troškova(KM)</th>                        
            <th>Povrat(KM)</th>  
            <th>Isplata(KM)</th>         

           
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let item of TravelOrder"  >
            <td>{{item.numberOfOrder}}</td>
            <td>{{item.employeeName}}</td>   
            <td>{{item.startLocation}}</td>   
            <td>{{item.locationName}}</td>  
            <td>{{item.carName}}</td>  
            <td>{{item.startDate | date: 'dd.MM.yyyy HH:mm' }}</td>  
            <td>{{item.endDate | date: 'dd.MM.yyyy HH:mm'}}</td>  
            <td>{{item.priceOfWage}}</td>
            <td>{{item.totalNumbersOfWagesDecimalBam}}</td>
            <td>{{item.priceOfFuel}}</td>
            <td>{{item.numberOfKilometers}}</td>
            <td>{{item.totalTransportPrivateOfficialCar}}</td>
            <td>{{item.otherCostDecimal}}</td>
            <td>{{item.advancePayment}}</td>
            <td>{{item.totalCost}}</td>

            <td> {{item.payOffMoney}} </td>
            <td> {{item.returnMoney}} </td>
        </tr>
               
        <tr >
            <td colspan="7" style="text-align: left; font-weight: bold; font-size:14px" > Ukupno:</td>
            <td></td>
            <td class="total" > {{totalWagesDecimal}} KM </td>
            <td></td>
            <td class="total" > {{totalKilometers}} </td>
            <td class="total" > {{totalTransport}} KM </td>
            <td class="total" > {{totalOtherCost}} KM </td>
            <td class="total" > {{totalAdvancePayment}} KM</td>
            <td class="total" > {{totalCost}} KM </td> 
            <td class="total" > {{totalPayOffMoney}} KM</td>
            <td class="total" > {{totalReturnMoney}} KM</td>
            
            
        </tr>
    </tbody> 
    </table>
