<div class="main" id="content" #content>

<br>
    <div class="name">
    <p>___________________________________</p>
    <p class="subname">(naziv preduzeća-ustanove)</p>
    
    <p>___________________________________</p>
    <p class="subname">(mjesto i datum)</p>
    </div><br>
    <div class="center">
        <h3>NALOG ZA SLUŽBENO PUTOVANJE</h3>
        <p >broj _____ / _______</p>
    </div><br><br><br>

    <div class="mainText">
        <p>Za ________________________________ na radu u _______________________________ na radnom mjestu ________________________________ otputovati će dana
            _______________________ godine na službeno putovanje u ___________________________ radi ____________________________________________________________
        </p><br>
        <p>Predvidivo trajanje putovanja je _____________ dana.</p>
        <p>Za ovo službeno putovanje odobrava se isplata akontacije putnih troškova u iznosu od KM _____________________________,</p> 
        <p>slovima(KM) __________________________________________________________________________________________________________</p>
        <p>Za prijevoz može koristiti:</p>
        <p>U odlasku ____________________________________________________________________________________________________________</p>
        <p>U povratku ___________________________________________________________________________________________________________</p><br><br><br>
        
    </div>
    <div class="footer">
        <p>__________________________________________________<span style="margin-left:7%; margin-right: 7%; font-weight: bold;">M.P</span>_______________________________________________</p>
        <p class="footersubname" >(Paraf šefa posl.org.jed)<span style="margin-left:360px;">(Potpis direktora)</span></p>
    </div>
    <br><br><br>
    <div class="table">
        <table >
            <tr>
              <th colspan="2">POTVRDA BORAVKA</th>
            </tr>
            <tr>
              <td class="secondRow" style="height:5px">Dan dolaska i odlaska</td>
              <td class="secondRow" style="height:5px">Štambilj i potpis poslovne veze</td>
            </tr>
            <tr >
              <td class="thirdRow" style="width:50%">
                  <p>Osoba  _______________________________________________________</p>
                  <p>Boravio-la je u  _______________________________________________</p>
                  <p>Dolazak dana  ________________________________________________</p>
                  <p>Odlazak dana  ________________________________________________</p>
              </td>
              <td class="thirdRow"  style="width:38%; text-align: center;"></td>
            </tr>
            <tr  >
              <td  class="fourthRow" style="width:50%">
                <p>Osoba  _______________________________________________________</p>
                  <p>Boravio-la je u  _______________________________________________</p>
                  <p>Dolazak dana  ________________________________________________</p>
                  <p>Odlazak dana  ________________________________________________</p>
              </td>
                <td style="width:38%; text-align: center;">Potvrđuje</td>
            </tr>
          </table>
          
    </div>
</div>

<div class="pagebreak"> </div>

<div class="main">
    <br>
    <h5>OBRAČUN PUTNIH TROŠKOVA</h5><br><br><br>
    <div class="textSecondPage"> 
    <p>Za obavljeno službeno putovanje na temelju ovog naloga podnosimo ovaj obračun:</p>
    <p>Na put sam krenu(o)la dana _________________ godine u ___________ sati.</p>
    <p>Vrati(o)la sam se dana _________________ godine u ___________ sati.</p><br>
    <p>Na putu sam prove(o)la _________________ sati, što čini ukupno ___________ dnevnica.</p>
    </div>

    <table>
        <tr>
            <th colspan="4" style="width:45%">Vrsta troškova</th>
            <th>Ukupni broj dnevnica</th>
            <th colspan="2" >Iznos jedne dnevnice</th>
            <th colspan="2" style="width:15%">Ukupno</th>
        </tr>
        <tr >
            <td rowspan="4" class="rotate" >A.DNEVNICE</td>
            <td >1</td>
            <td colspan="2">DNEVNICE</td>
            <td >7</td>
            <td colspan="2">195</td>
            <td colspan="2" >1365 KM</td>
        </tr>
        <tr>
            <td>2</td>
            <td colspan="2"></td>
            <td >-</td>
            <td colspan="2">-</td>
            <td colspan="2"  >  KM</td>
        </tr>
        <tr>
            <td>3</td>
            <td colspan="5" style="text-align: left;">Izdaci za noćenje</td>
          
            <td  colspan="2" >  KM</td>
        </tr>
        <tr>
            <td>4</td>
            <td colspan="5" style="text-align: left;">UKUPNO DNEVNICE</td>
          
            <td colspan="2" > 1365 KM</td>
        </tr>



<!--        2.dio                    -->


        <tr >
            <td rowspan="8" class="rotate" >B.TROŠKOVI PRIJEVOZA</td>
            <td rowspan="2">Redni broj</td>
            <td colspan="3">RELACIJA</td>
            <td colspan="2">PRIJEVOZ</td>
            <td rowspan="2" colspan="2" > </td>
        </tr>
        <tr>
            <td colspan="2">OD</td>
            <td style="width:210px">DO</td>
            <td colspan="2">-</td>
          
        </tr>
        <tr>
            <td>1</td>
            <td colspan="2"></td>          
            <td></td>          
            <td colspan="2"></td>          
            <td colspan="2" > KM</td>
        </tr>
        <tr>
            <td>2</td>
            <td colspan="2"></td>          
            <td></td>          
            <td colspan="2"></td>          
            <td colspan="2" > KM</td>
        </tr>
        <tr>
            <td>3</td>
            <td colspan="5">OSOBNO VOZILO KORIŠTENO U SLUŽBENE SVRHE</td>          
            <td rowspan="2"  colspan="2"></td>          
           
        </tr>
        <tr>
            <td>4</td>
            <td style="width:180px">CIJENA L. BENZ</td>          
            <td style="width:130px">BROJ KM</td>          
            <td style="width:160px">20% CIJENE</td>          
            <td colspan="2">IZNOS</td>          
        </tr>
        <tr>
            <td>5</td>
            <td></td>          
            <td></td>          
            <td></td>          
            <td colspan="2"></td>          
            <td  > KM</td>
        </tr>
        <tr>
            <td>6</td>
            <td colspan="5" style="text-align:left">UKUPNI IZDACI ZA PRIJEVOZ</td>          
         
            <td  > KM</td>
        </tr>





<!--        3.dio                    -->
        <tr >
            <td rowspan="3" class="rotate" >C.OSTALO</td>
            <td >1</td>
            <td colspan="5"></td>
            <td  colspan="2"> KM </td>
        </tr>
        <tr >
            <td >2</td>
            <td colspan="5"></td>
            <td  colspan="2"> KM </td>
        </tr>
        <tr >
            <td >3</td>
            <td colspan="5" style="text-align:left">UKUPNI OSTALI TROŠKOVI</td>
            <td  colspan="2" > KM </td>
        </tr>
        <tr>
            <td colspan="7" style="text-align:left;">SVEUKUPNI TROŠKOVI</td>
            <td colspan="2" >1365,00 KM</td>
        </tr>
        <tr>
            <td colspan="7" style="text-align:left;">ISPLAĆENA AKONTACIJA</td>
            <td colspan="2" >KM</td>
        </tr>
        <tr>
            <td colspan="7" style="text-align:left;">OSTATAK ZA ISPLATU - POVRAT</td>
            <td colspan="2" >1365,00 KM</td>
        </tr>

    </table>


    <br><br><br>
    <div >
        <p style="margin-left:-52%">Mostar,<span style="margin-left:15%">godine</span></p>
        <hr>
    </div>
    <br>
    <div class="name" style="float:right; margin-right:6%">
        <p>___________________________________</p>
        <p class="subname">(podnosilac računa)</p>
    </div>

    <br><br><br><br>
    <div class="footer">
        <p>__________________________________________________<span style="margin-left:7%; margin-right: 7%; font-weight: bold;">M.P</span>_______________________________________________</p>
        <p class="footersubname" >(Paraf šefa posl.org.jed)<span style="margin-left:360px;">(Potpis direktora)</span></p>
    </div>

<br><br>
    <table>
        <tr>
            <td>
                <p style="text-align: left;">LIKVIDATURA</p>
                <p style="text-align: left;" >Ispravno s KM _____________________</p>
            </td>
            <td>
                <p style="text-align: left;">BLAGAJNA</p>
                <p style="text-align: left;" >Isplaćeno </p>
                <p style="text-align: left;" >Vraćeno KM _____________________</p>

            </td>
            <td>
                <p>Rukovoodilac računovodstva</p>
                <p>_____________________________</p>
            </td>
        </tr>
    </table>
    <br><br><br>
</div>