
    <div   *ngFor="let item of TravelOrder" >

        <div >
        <br><br>
        <div class="name" style="display: block;" >
            <figure>
                <span class="above" ><u > {{item.name}}</u><span class="below"></span></span>

                <figcaption style="font-size: 14px; margin-top: -12%;" >(naziv preduzeća - ustanove)</figcaption>
              </figure>
            
      <br>
      <figure>
        <span class="above" ><u >{{item.adress}}, {{item.city}} </u> <span class="below"></span></span>


        <figcaption style="font-size: 14px; margin-top: -12%;" >(adresa i mjesto)</figcaption>
      </figure>
   
    </div><br><br><br>
    <div class="center">
        <h3>NALOG ZA SLUŽBENO PUTOVANJE</h3>
        <p >broj <u>{{item.numberOfOrder}}</u></p>
    </div><br><br><br>

    <div class="mainText">
        <p>Za <u > {{ item.employeeName}}</u> na radu u <span class="above"><u > {{item.name}}</u> <span class="below">(naziv poslovne ili org.jedinice)</span></span> na radnom mjestu <span class="above"><u >{{item.typeofWork}}</u><span class="below">(naziv radnog mjesta)</span></span> otputovati će dana
            <u>{{item.startDate | date: 'dd.MM.yyyy'}} </u>  godine na službeno putovanje u <span class="above"> <u>{{item.locationName}} </u> <span class="below">(mjesto)</span></span> radi <span class="above"> <u>{{item.reasonOfTravel}} </u><span class="below">(razlog)</span></span><br>
            <span class="above"><u>{{item.descriptionOfTravel}} </u> <span class="below">(opis zadataka)</span></span>
                        </p><br>
        <p>Predvidivo trajanje putovanja je   <u> __{{item.daysOfTravel }}__ </u> dana.</p>
        <p>Za ovo službeno putovanje odobrava se isplata akontacije putnih troškova u iznosu od KM <u>{{item.advancePayment}} </u>,</p> 
        <p>slovima(KM) <u>{{item.advancePaymentString}} </u></p>
        <p>Za prijevoz može koristiti:</p>
        <p>U odlasku <u>{{item.carName}}  ( 
             <span *ngIf=item.privateCar > Privatno </span>
             <span *ngIf=item.officialCar > Službeno</span>
          ) </u></p>

        <p>U povratku <u>{{item.carName}}  ( 
            <span *ngIf=item.privateCar > Privatno </span>
            <span *ngIf=item.officialCar > Službeno</span>
         ) </u></p><br><br><br>
        
    </div><br>
    <div class="footer">
        <p>_________________________________________________<span style="margin-left:6%; margin-right: 6%; font-weight: bold;">M.P</span>______________________________________________</p>
        <p class="footersubname" >(Paraf šefa posl.org.jed)<span style="margin-left:330px;">(Potpis direktora)</span></p>
    </div>
    <br><br>
    <div class="table">
        <table >
            <tr>
              <th colspan="2">POTVRDA BORAVKA</th>
            </tr>
            <tr>
              <td class="secondRow" style="height:5px; text-align: center;">Dan dolaska i odlaska</td>
              <td class="secondRow" style="height:5px; text-align: center;">Štambilj i potpis poslovne veze</td>
            </tr>
            <tr >
              <td class="thirdRow" style="width:50%">
                  <p>Osoba  <span style="letter-spacing: -1px; margin-left: 2%;">_____________________________________________________________________</span></p>
                  <p>Boravio-la je u <span style="letter-spacing: -1px; margin-left: 2%;">_________________________________________________________</span></p>
                  <p>Dolazak dana  <span style="letter-spacing: -1px; margin-left: 2%;">__________________________________________________________</span></p>
                  <p>Odlazak dana <span style="letter-spacing: -1px; margin-left: 2%;">__________________________________________________________</span></p>
              </td>
              <td class="thirdRow"  style="width:38%; text-align: center;"></td>
            </tr>
            <tr  >
              <td  class="fourthRow" style="width:50%">
                <p>Osoba  <span style="letter-spacing: -1px; margin-left: 2%;">______________________________________________________________________</span></p>
                  <p>Boravio-la je u <span style="letter-spacing: -1px; margin-left: 2%;">__________________________________________________________</span></p>
                  <p>Dolazak dana <span style="letter-spacing: -1px; margin-left: 2%;">____________________________________________________________</span></p>
                  <p>Odlazak dana <span style="letter-spacing: -1px; margin-left: 2%;">____________________________________________________________</span></p>
              </td>
                <td style="width:38%; text-align: center;">Potvrđuje</td>
            </tr>
          </table>
          
    </div>


    <div style="page-break-after: always"></div>
    <div style="page-break-before: always"></div>

    <div >
    <br>
    <h5>OBRAČUN PUTNIH TROŠKOVA</h5><br><br><br>
    <div class="textSecondPage"> 
    <p>Za obavljeno službeno putovanje na temelju ovog naloga podnosimo ovaj obračun:</p>
    <p>Na put sam krenu(o)la dana <u>{{item.startDate | date: 'dd.MM.yyyy'}} </u> godine u <u>{{item.startDate | date:'shortTime' }} </u> sati.</p>
    <p>Vrati(o)la sam se dana <u>{{item.endDate | date: 'dd.MM.yyyy'}} </u> godine u <u>{{item.endDate | date:'shortTime' }} </u>  sati.</p><br>
    <p>Na putu sam prove(o)la  <u>{{item.totalHours}} </u> sati, što čini ukupno <u>{{item.totalNumbersOfWages}} </u> dnevnica.</p>
    </div>
    
    <table>
        <tr>
            <th colspan="4" style="width:45%">Vrsta troškova</th>
            <th colspan="2">Ukupni broj dnevnica</th>
            <th colspan="5" >Iznos jedne dnevnice</th>
            <th colspan="3" style="width:15%">Ukupno</th>
        </tr>
        <tr >
            <td rowspan="4" class="rotate"  style="height: 120px;">A.DNEVNICE</td>
            <td style="text-align: center;">1</td>
            <td colspan="2">DNEVNICE</td>
            <td colspan="2" style="text-align: center;">{{item.totalNumbersOfWages}}</td>
            <td colspan="5" style="text-align: center;">{{item.priceOfWage}}</td>
            <td colspan="3" style="text-align: center;">{{item.totalNumbersOfWagesDecimalBam}} KM</td>
        </tr>
        <tr>
            <td style="text-align: center;">2</td>
            <td colspan="2"></td>
            <td colspan="2"style="text-align: center;"></td>
            <td colspan="5"style="text-align: center;"></td>
            <td colspan="3"  style="text-align: center;">  KM</td>
        </tr>
        <tr>
            <td style="text-align: center;">3</td>
            <td colspan="9" style="text-align: left;">Izdaci za noćenje</td>
          
            <td  colspan="3" style="text-align: center;"> {{item.salaryPerNight}} KM</td>
        </tr>
        <tr>
            <td style="text-align: center;">4</td>
            <td colspan="9" style="text-align: left;">UKUPNO DNEVNICE</td>
          
            <td colspan="3" style="text-align: center;  font-weight: bold;">{{item.totalWagesAndSalaryPerNight}}  KM</td>
        </tr>



<!--        2.dio                    -->


        <tr >
            <td rowspan="8" class="rotate" style="height:240px" >B.TROŠKOVI PRIJEVOZA</td>
            <td rowspan="2"style="text-align: center;">Redni broj</td>
            <td colspan="4"  style="text-align: center;">RELACIJA</td>
            <td colspan="5"  style="text-align: center;">PRIJEVOZ</td>
            <td rowspan="2" colspan="3" > </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">OD</td>
            <td style="width:210px" colspan="2" style="text-align: center;">DO</td>
            <td colspan="5"></td>
          
        </tr>
        <tr>
            <td style="text-align: center;">1</td>
            <td colspan="2" style="text-align: center;">{{item.startLocation}} </td>          
            <td colspan="2"  style="text-align: center;">{{item.locationName}} </td>          
            <td colspan="5" style="text-align: center;">
                <span *ngIf=item.privateCar  > Privatno </span>
                <span *ngIf=item.officialCar  > Službeno</span>
            </td>          
            <td colspan="3" style="text-align: center;"> {{item.transportOfficialCarBam}} KM</td>
        </tr>
        <tr>
            <td style="text-align: center;">2</td>
            <td colspan="2"></td>          
            <td colspan="2"></td>          
            <td colspan="5"></td>          
            <td colspan="3" style="text-align: center;"> KM</td>
        </tr>
        <tr>
            <td style="text-align: center;">3</td>
            <td colspan="9" style="text-align: center;">OSOBNO VOZILO KORIŠTENO U SLUŽBENE SVRHE</td>          
            <td rowspan="2"  colspan="2"></td>          
           
        </tr>
        <tr>
            <td style="text-align: center;">4</td>
            <td style="width:180px" style="text-align: center;">CIJENA L. BENZ</td>          
            <td style="width:130px" style="text-align: center;">BROJ KM</td>  
            <td ></td>        
            <td style="width:160px" style="text-align: center;">20% CIJENE</td>  
            <td></td>        
            <td colspan="4" style="text-align: center;">IZNOS</td>          
        </tr>
        <tr>
            <td style="text-align: center;">5</td>
            <td ></td>          
            <td style="text-align: center;">{{item.numberOfKilometers}}</td>          
            <td style="text-align: center;">X</td>
            <td></td>          
            <td style="text-align: center;">=</td>    
            <td colspan="4"></td>      
            <td colspan="3"style="text-align: center;" > {{item.totalFuelKilometersDecimalBam}} KM</td>
        </tr>
        <tr>
            <td style="text-align: center;">6</td>
            <td colspan="9" style="text-align:left">UKUPNI IZDACI ZA PRIJEVOZ</td>          
         
            <td colspan="3" style="text-align: center;  font-weight: bold;"> {{item.totalTransportPrivateOfficialCar}} KM</td>
        </tr>





<!--        3.dio                    -->
        <tr >
            <td rowspan="3" class="rotate" style="height: 110px;" >C.OSTALO</td>
            <td style="text-align: center;">1</td>
            <td colspan="9" >{{item.otherCostString}}</td>
            <td  colspan="3" style="text-align:center">{{item.otherCostDecimal}} KM</td>
        </tr>
        <tr >
            <td style="text-align: center;">2</td>
            <td colspan="9" ></td>
            <td  colspan="3" style="text-align: center;"> KM</td>
        </tr>
        <tr >
            <td style="text-align: center;">3</td>
            <td colspan="9" style="text-align:left">UKUPNI OSTALI TROŠKOVI</td>
            <td  colspan="3" style="text-align: center;  font-weight: bold;"> {{item.otherCostDecimal}} KM </td>
        </tr>
        <tr>
            <td colspan="11" style="text-align:left;">SVEUKUPNI TROŠKOVI</td>
            <td colspan="3" style="text-align: center;  font-weight: bold;"> {{item.totalCost}} KM</td>
        </tr>
        <tr>
            <td colspan="11" style="text-align:left;">ISPLAĆENA AKONTACIJA</td>
            <td colspan="3" style="text-align: center; font-weight: bold;">{{ item.advancePayment}} KM</td>
        </tr>
        <tr>
            <td colspan="11" style="text-align:left;">OSTATAK ZA ISPLATU - POVRAT</td>
            <td colspan="3" style="text-align: center;  font-weight: bold;"> {{item.totalCostFinish}} KM</td>
        </tr>

    </table>


   <br><br>
    <div >
        <p style="margin-left:7%;">{{item.city}},<span style="margin-left:14%">godine</span></p>
        <hr>
    </div>
    <br><br>
    <div class="name" style="float:right; margin-right:6%">
        <span class="above"> <hr style="float:right; width:230px"><span class="below">(podnosilac računa)</span></span>
        
    </div>

    <br><br><br><br>
    <div class="footer">
        <p>__________________________________________________<span style="margin-left:6%; margin-right: 6%; font-weight: bold;">M.P</span>_______________________________________________</p>
        <p class="footersubname" >(Paraf šefa posl.org.jed)<span style="margin-left:330px;">(Potpis direktora)</span></p>
    </div>

<br><br><br><br>
    <table>
        <tr>
            <td>
                <p style="text-align: left; margin-left: 1%;">LIKVIDATURA</p>
                <p style="text-align: left;  margin-left: 1%;" >Ispravno s KM <span style="letter-spacing: -1px;"> _____________________ </span> </p>
            </td>
            <td>
                <p style="text-align: left; margin-left: 1%;">BLAGAJNA</p>
                <p style="text-align: left; margin-left: 1%;" >Isplaćeno </p>
                <p style="text-align: left; margin-left: 1%;" >Vraćeno KM <span style="letter-spacing: -1px;"> _____________________</span> </p>

            </td>
            <td>
                <p style="text-align: center; margin-left: 1%;">Rukovoodilac računovodstva</p>
                <p style="text-align: center; margin-left: 1%;"> <span style="letter-spacing: -1px;"> ________________________________</span></p>
            </td>
        </tr>
    </table>

   
</div>
<div style="page-break-after: always"></div>
<div style="page-break-before: always"></div>
</div>


