<div class="okvir">
    <h2 class="form-title" style="padding: 5%; " >Uredi nalog</h2>
    
    <form id="travelOrder-form" (ngSubmit)="onSubmit()" #travelOrderForm="ngForm">
    
        <!--<div class="form-group row">
            <div class="col-sm-6">
              <input type="text" class="form-control" id="numberOfOrder" name="numberOfOrder" readonly #numberOfOrder="ngModel" ngModel>
         

            </div>
          
        
            <div class="col-sm-6">
              <input type="text" class="form-control" id="inputemployee" name="employee" readonly #employee="ngModel" ngModel>
              

            </div>
            <input type="text" class="form-control" id="inputemployeeId" name="employeeId" readonly #employeeId="ngModel" ngModel hidden>

        </div>-->
        <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text inputLabelStyle" > Broj naloga: </div>
            </div>
            <input type="text" class="form-control inputStyle"  id="numberOfOrder" name="numberOfOrder" readonly #numberOfOrder="ngModel" ngModel>

          </div>
        </div>
        <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text inputLabelStyle" > Zaposlenik: </div>
            </div>
            <input type="text" class="form-control inputStyle" id="inputemployee" name="employee" readonly #employee="ngModel" ngModel>
            <input type="text" class="form-control" id="inputemployeeId" name="employeeId" readonly #employeeId="ngModel" ngModel hidden>

          </div>
        </div>
        <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text inputLabelStyle" > Početna lokacija: </div>
            </div>
            <input type="text" class="form-control inputStyle" id="inputstartLocation" name="startLocation"  #startLocation="ngModel" ngModel >
            <input type="text" class="form-control" id="inputstartLocationId" name="startLocationId"  #startLocationId="ngModel" ngModel hidden>



          </div>
        </div>

      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text inputLabelStyle" > Početak: </div>
          </div>
          <input type="datetime-local" class="form-control inputStyle" id="inputStartDate"
            required  name="startDate" #startDate="ngModel" ngModel>

        </div>
      </div>

      <div class="alert-div" *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)">
        <span *ngIf="startDate.errors.required">
                            Početak je obavezno polje.
        </span>
    </div> 
    
      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text inputLabelStyle" > Kraj: </div>
          </div>
          <input type="datetime-local" class="form-control  inputStyle" id="inputEndDate" (change)="CheckEmployee()" 
            required  name="endDate" #endDate="ngModel" ngModel>
                      
        </div>
      </div>
      <div class="alert-div" *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)">
        <span *ngIf="endDate.errors.required">
                            Kraj je obavezno polje.
        </span>
    </div>
     <div class="alert-div" *ngIf="checkEmployee">
        <span >
              Zaposlenik već ima angažman u tom periodu.
        </span>
    </div>
    
      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text inputLabelStyle" > Razlog: </div>
          </div>
          <input type="text" class="form-control inputStyle" id="inputReasonOfTravel" required placeholder="Razlog" name="reasonOfTravel" #reasonOfTravel="ngModel" ngModel>
        </div>
      </div>
      <div class="alert-div" *ngIf="reasonOfTravel.invalid && (reasonOfTravel.dirty || reasonOfTravel.touched)">
        <span *ngIf="reasonOfTravel.errors.required">
                            Razlog je obavezno polje.
        </span>
    </div>    

      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text inputLabelStyle" > Opis: </div>
          </div>
          <input type="text" class="form-control inputStyle" id="inputDescriptionOfTravel" name="descriptionOfTravel" required placeholder="Opis" #descriptionOfTravel="ngModel" ngModel>

        </div>
      </div>

      <div class="alert-div" *ngIf="descriptionOfTravel.invalid && (descriptionOfTravel.dirty || descriptionOfTravel.touched)">
        <span *ngIf="descriptionOfTravel.errors.required">
                            Opis je obavezno polje.
        </span>
    </div>

      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text inputLabelStyle" > Akontacija: </div>
          </div>
          <input type="text" class="form-control inputStyle" id="inputAdvancePayment" required name="advancePayment" placeholder="Akontacija" #advancePayment="ngModel" ngModel>


        </div>
      </div>

      <div class="alert-div" *ngIf="advancePayment.invalid && (advancePayment.dirty || advancePayment.touched)">
        <span *ngIf="advancePayment.errors.required">
                            Akontacija je obavezno polje.
        </span>
    </div>
    
   

      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text inputLabelStyle" > Lokacija: </div>
          </div>
          <select name="locationId" #locationId="ngModel"   class="custom-select inputStyle"  ngModel>
            <option *ngFor="let item of listOfLocations" [value]=item.id >               
                {{item.name}} 
            </option>
        </select>


        </div>
      </div>
    
    <!--<div class="form-group row">
        <div class="col-sm-12">
          <select class="custom-select mr-sm-4" name="carId" #carId="ngModel"   ngModel>
       
            <option *ngFor="let item of listOfTypeOfCars" [value]=item.id >               
                {{item.name}} 
            </option>
        </select>
        </div>
      </div>-->
      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text inputLabelStyle" > Vozilo: </div>
          </div>
          <select class="custom-select inputStyle" name="carId" #carId="ngModel"   ngModel>
       
            <option *ngFor="let item of listOfTypeOfCars" [value]=item.id >               
                {{item.name}} 
            </option>
        </select>


        </div>
      </div>
      <div class="form-group row">
            <div class="col-sm-12">
            <button type="submit" id="submit" class="btn btn-outline-info" [disabled]="!travelOrderForm.valid"><i class="fas fa-save" ></i>  Sačuvaj</button>
        </div>
       </div>
    
    </form>
    </div>
    
