

<div class="input-group" id="searchName">
    <input type="text" class="form-control" placeholder="Pretraga po nazivu..." [(ngModel)]="name">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button" (click) = "searchByName()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

  <button type="button" class="btn btn-outline-primary" routerLink="add-car" id="addNew"> <i class="fa fa-fw fa-plus-circle"></i> Dodaj novi</button>
  
  <table class="table" > 
<thead>
    <tr>
        <th>Naziv</th>       
        <th>Model</th>       
        <th>Registracija</th>       
        <th>Tip vozila</th>       
        <th>Akcija</th>
    </tr>
</thead>
<tbody >
    <tr *ngFor="let item of Car ">
        <td>{{item.name}}</td>
        <td>{{item.model}}</td>
        <td>{{item.numberOfRegistration}}</td>
        <td *ngIf="item.privateCar" > Privatno </td>
        <td *ngIf="item.officialCar" > Službeno </td>
      
        <td> <button type="button" class="btn btn-outline-primary" routerLink="add-car/{{item.id}}"> <i class="fa fa-fw fa-edit"></i></button>      
        <button type="button" class="btn btn-outline-danger" style="margin-left: 2%;"><i class="fa fa-fw fa-remove" data-toggle="modal" data-target="#exampleModalCenter"></i></button>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </td>      
      </tr>
</tbody> 
</table>

<br>
