
<div class="input-group" id="searchName">
    <input type="text" class="form-control"  [(ngModel)]="name" placeholder="Pretraga po nazivu..." autofocus>
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button" (click) ="searchByName()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  
  <button type="button" class="btn btn-outline-primary" routerLink="add-location" id="addNew"> <i class="fa fa-fw fa-plus-circle"></i> Dodaj novu</button>
<table class="table" > 
<thead>
    <tr>
        <th>Naziv</th>       
        <th>Broj kilometara</th> 
        <th>Početna lokacija</th>       

        <th>Akcija</th>
    </tr>
</thead>
<tbody >
    <tr *ngFor="let item of Location ">
        <td>{{item.name}}</td>
        <td>{{item.numberOfKilometers}}</td>
         <td><input  [disabled]="item.startLocation" value="{{item.startLocation}}" type="checkbox" [checked]="item.startLocation"  (change)="changeStatus(item.id,$event.target.checked)"  ></td>
        <td> <button type="button" class="btn btn-outline-primary" routerLink="add-location/{{item.id}}"> <i class="fa fa-fw fa-edit"></i></button>      
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModalCenter"  (click)="Delete(item.id)" style="margin-left: 2%;"><i class="fa fa-fw fa-remove"></i></button>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
    
              <div class="modal-body" style="font-size: 18px;">
                Jeste li sigurni da želite obrisati zapis?
              </div>
              <div class="modal-footer" style="margin:0 auto">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete()" style="font-size:20px;"> DA</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="font-size:20px;">NE</button>
              </div>
            </div>
          </div>
        </div>
      </td>        
      </tr>
</tbody> 
</table>

<br>
