
.inputStyle{
    padding-left:80px; 
    border-left: transparent;
}

.inputLabelStyle{
    width: 100px;
    background-color: transparent;
    border-right: transparent; 
    font-weight: bold;
}

th,td{
    text-align: center;
  }

 .total{
  text-align: center; 
  font-weight: bold;
  font-size: 14px;
 }