  <br>
  <div class="input-group row" id="searchStartDate" >
   
    <div class="col-md-5">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text inputLabelStyle" > Datum od: </div>
        </div>
        <input type="datetime-local" class="form-control inputStyle"
          required   [(ngModel)]="startDate" (change)="Init()">

      </div>
    </div>

    <div class="col-md-5">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text inputLabelStyle" > Datum do: </div>
        </div>
        <input type="datetime-local" class="form-control inputStyle" 
          required [(ngModel)]="endDate" (change)="Init()">

      </div>
    </div>
    <div class="input-group-append" style="margin-left:6%">
      <button class="btn btn-primary" type="button" [routerLink]="['/recapitulationPDF',startDate,endDate]" [disabled]="startDate==undefined || endDate==undefined ||startDate>endDate " >
        <i class="fas fa-file-pdf"></i>
      </button>
    </div>
  </div>
 
<br><br>

<table class="table" > 
    <thead>
        <tr>       
            <th>Broj naloga</th>
            <th>Zaposlenik</th>
            <th>Početna lokacija</th>
            <th>Lokacija </th>
            <th>Vozilo</th>
            <th>Početak</th>
            <th>Kraj</th>           
            <th>Dnevnica(KM)</th>           
            <th>Ukupno dnevnica(KM)</th>  
            <th>Gorivo(l/KM)</th>           
            <th>Broj kilometara</th>           
            <th>Ukupno za prijevoz(KM)</th>           
            <th>Ostali troškovi(KM)</th>
            <th>Uplaćena akontacija</th>  
            <th>Ukupan iznos troškova(KM)</th>                        
            <th>Povrat(KM)</th>   
            <th>Isplata(KM)</th>         

        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let item of TravelOrder">
            <td>{{item.numberOfOrder}}</td>
            <td>{{item.employeeName}}</td>   
            <td>{{item.startLocation}}</td>   
            <td>{{item.locationName}}</td>  
            <td>{{item.carName}}</td>  
            <td>{{item.startDate | date: 'dd.MM.yyyy HH:mm' }}</td>  
            <td>{{item.endDate | date: 'dd.MM.yyyy HH:mm'}}</td>  
            <td>{{item.priceOfWage}}</td>
            <td>{{item.totalNumbersOfWagesDecimalBam}}</td>
            <td>{{item.priceOfFuel}}</td>
            <td>{{item.numberOfKilometers}}</td>
            <td>{{item.totalTransportPrivateOfficialCar}}</td>
            <td>{{item.otherCostDecimal}}</td>
            <td>{{item.advancePayment}}</td>
            <td>{{item.totalCost}}</td>

            <td> {{item.payOffMoney}} </td>
            <td> {{item.returnMoney}} </td>
           </tr>
        <tr >
          <td colspan="7" style="text-align: left; font-weight: bold; font-size:14px" > Ukupno:</td>
          <td></td>
          <td class="total" > {{totalWagesDecimal}} KM </td>
          <td></td>
          <td class="total" >{{totalKilometers}} </td>
          <td class="total" > {{totalTransport}} KM </td>
          <td class="total" > {{totalOtherCost}} KM </td>
          <td class="total" >{{totalAdvancePayment}} KM</td>
          <td class="total" > {{totalCost}} KM </td>

          <td class="total" > {{totalPayOffMoney}} KM</td>
          <td class="total" > {{totalReturnMoney}} KM</td>
          
          
      </tr>
    </tbody> 
    </table>
    <br>

    <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 22px; color: white; letter-spacing: 2px;">Učitavanje ...</p>
</ngx-spinner> 