<div class="okvir">
    <h2 class="form-title" style="padding: 5%; " *ngIf = "!editMode">Dodaj novi tip vozila</h2>
    <h2 class="form-title" style="padding: 5%; " *ngIf = "editMode">Uredi tip vozila</h2>

<form id="car-form" (ngSubmit)="onSubmit()" #carForm="ngForm">
    
    <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">Naziv</label>
        <div class="col-sm-9">
          <input type="text" id="inputName" name="name" class="form-control" required #name="ngModel" ngModel>
        </div>
      </div>
      <div class="alert-div" *ngIf="name.invalid && (name.dirty || name.touched)">
        <span *ngIf="name.errors.required">
            Naziv je obavezno polje.
        </span>
    </div>

      <div class="form-group row">
        <label for="model" class="col-sm-3 col-form-label">Model</label>
        <div class="col-sm-9">
          <input type="text" id="inputModel" name="model" class="form-control" required #model="ngModel" ngModel>
        </div>
      </div>
      <div class="alert-div" *ngIf="model.invalid && (model.dirty || model.touched)">
        <span *ngIf="model.errors.required">
            Model je obavezno polje.
        </span>
    </div>

      <div class="form-group row">
        <label for="numberOfRegistration" class="col-sm-3 col-form-label">Broj registracije</label>
        <div class="col-sm-9">
          <input type="text" id="inputNumberOfRegistration" name="numberOfRegistration" class="form-control" required #numberOfRegistration="ngModel" ngModel>
        </div>
      </div>
      <div class="alert-div" *ngIf="numberOfRegistration.invalid && (numberOfRegistration.dirty || numberOfRegistration.touched)">
        <span *ngIf="numberOfRegistration.errors.required">
            Broj registracije je obavezno polje.
        </span>
    </div>

        <div class=" form-group row">
          <legend class="col-form-label col-sm-3">Tip vozila</legend>
          <div class="col-sm-9  ">
            <div class="form-check form-check-inline">
                <input class="form-check-input inline"  type="radio" id="privateCar" name="_typeOfCar" value="privateCar"  #_typeOfCar="ngModel" ngModel (click)="onClick('privatno')">
                <label class="form-check-label" for="privateCar">Privatno</label><br>
               
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input inline"  type="radio" id="officialCar" name="_typeOfCar" value="officialCar"  #_typeOfCar="ngModel" ngModel  (click)="onClick('sluzbeno')">           
                     <label class="form-check-label" for="officialCar">Službeno</label><br>
            </div>
           
        </div>
        </div>
      <div class="form-group row">
        <div class="col-sm-12">  
        <button type="submit" id="submit" class="btn btn-outline-info" [disabled]="!carForm.valid"><i class="fas fa-save"></i>  Sačuvaj</button>
      </div>
    </div>
</form>
</div>