
<div class="input-group" id="searchName">
    <input type="text" class="form-control" placeholder="Pretraga po nazivu..." [(ngModel)]="name">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button" (click) = "searchByName()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

<button type="button" class="btn btn-outline-primary" routerLink="add-employee" id="addNew"> <i class="fa fa-fw fa-plus-circle"></i> Dodaj novog</button>

<table class="table" > 
<thead>
    <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Pozicija</th>
        <th>Jedinstveni broj</th>
        <th>Dnevnica</th>
        <th>Akcija</th>
    </tr>
</thead>
<tbody >
    <tr *ngFor="let item of employee ">
        <td>{{item.name}}</td>
        <td>{{item.surname}}</td>  
        <td>{{item.typeOfWork}}</td>  
        <td>{{item.uniqueNumber}}</td>  
        <td>{{item.wage}}</td>  
        <td> <button type="button" class="btn btn-outline-primary" routerLink="add-employee/{{item.id}}"> <i class="fa fa-fw fa-edit"></i></button>      
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModalCenter"  (click)="Delete(item.id)" style="margin-left: 2%;"><i class="fa fa-fw fa-remove"></i></button>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
    
              <div class="modal-body" style="font-size: 18px;">
                Jeste li sigurni da želite obrisati zapis?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete()" style="font-size:20px;"> DA</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="font-size:20px;">NE</button>
              </div>
            </div>
          </div>
        </div>
      </td>      
      </tr>
</tbody> 
</table>

<br>
